@import "../../styles/mixins";
@import "../../styles/colors";
@import "../../styles/typography.module";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: get-module(16);
  height: get-module(16);
  border-radius: 50%;
  background-color: $mxExtraLight;
}

.containerLight {
  background-color: $white;
}

.text {
  composes: headingH1;
  text-transform: uppercase;
  text-align: center;
  color: $mxMain;
}
