$mxExtraDark: var(--mx-extra-dark);
$mxDark: var(--mx-dark);
$mxMain: var(--mx-main);
$mxMedium: var(--mx-medium);
$mxLight: var(--mx-light);
$mxLightGreyish: var(--mx-light-greyish);
$mxExtraLight: var(--mx-extra-light);
$mxWhite: var(--mx-white);

$neutralActiveDark: #121232;
$neutralBlack: #231f20;
$neutralExtraDark: #4e4e5a;
$neutralDark: #727279;
$neutralMedium: #a1a4b1;
$neutralLight: #d3d4d8;
$neutralExtraLight: #fafafc;
$neutralDarkClean: #949494;
$neutralMediumClean: #bdbdbd;
$neutralLightClean: #f0f1f3;
$neutralActiveDark20: rgba($neutralActiveDark, 0.2);

$typographyMain: #232735;
$typographyMedium: #505565;
$typographyLight: #8b90a0;
$typographySubtext: #9c9c9c;

$accentGreenDark: #186e3c;
$accentGreenMedium: #27ae60;
$accentGreenBright: #1edb6e;

$accentRedDark: #9e2b2b;
$accentRedMedium: #eb5757;
$accentRedBright: #f93737;

$accentYellowDark: #f2994a;
$accentYellowMedium: #f4cd51;
$accentYellowBright: #faf546;

$statusGreen: #00b086;
$statusRed: #ff6868;

$white: #ffffff;
$white50: rgba($white, 0.5);
