@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans-Bold"), url("../assets/fonts/NunitoSans/NunitoSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans-SemiBold"), url("../assets/fonts/NunitoSans/NunitoSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans-Regular"), url("../assets/fonts/NunitoSans/NunitoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans-Light"), url("../assets/fonts/NunitoSans/NunitoSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans-ExtraLight"), url("../assets/fonts/NunitoSans/NunitoSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
