:root {
  --mx-extra-dark: #007680;
  --mx-dark: #18929e;
  --mx-main: #2dbbc7;
  --mx-medium: #6bcbd5;
  --mx-light: #9edfe5;
  --mx-light-greyish: #d7ebef;
  --mx-extra-light: #eafbfd;
  --mx-white: #f3fcfd;
}
