@import "../../../../styles/mixins";
@import "../../../../styles/colors";
@import "../../../../styles/typography.module";
@import "../../../../styles/_helpers.scss";

.container {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.containerInProcess {
  .wrapper {
    border-left: get-vw(2px) solid $mxMedium;
  }

  .name {
    color: $mxMedium;
  }
}

.icon {
  margin-right: get-module(4);
  flex-shrink: 0;

  svg path {
    stroke: $mxMedium;
  }
}

.wrapper {
  width: 100%;
  padding-left: get-module(2);
  border-left: get-vw(2px) solid $neutralActiveDark20;
}

.name {
  composes: pSmall;
  composes: ellipsisText;
  color: $typographyLight;
}

.text {
  composes: pSmall;
  margin-top: get-module(1);
  color: $typographyMain;
}

.closeWrapper {
  align-self: stretch;
  height: 100%;
  padding-left: get-module(9);
  flex-shrink: 0;
}
