name: Storybook Staging
on:
  push:
    branches: [ storybook-staging ]
  pull_request:
    branches: [ storybook-staging ]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1
        with:
          persist-credentials: false
      - name: Install and Build
        run: |
          yarn install
          yarn run build-storybook
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@3.6.2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: storybook-staging
          FOLDER: storybook-static
          CLEAN: true
          TARGET_FOLDER: docs
